{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
     <center><h1>FRIENDS GROUP PIC</h1></center>
    <img src="{% static 'images/image1.jpeg' height:300px; width:300px; %}"


     <center><h1> Aadiyogi Views </h1></center>

  <center>
       <img src="{% static 'images/aadiyogi.jpeg' %}"
  </center>


  <center>
          <h1>Carosoul picture</h1>
  </center>

    <!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example" data-slide-to="1"></li>
      <li data-target="#video-carousel-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <video class="video-fluid" autoplay loop muted>
           <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />

        </video>
      </div>
      <div class="carousel-item">
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="carousel-item">
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--Carousel Wrapper-->

 <center>
   <img src="{% static 'images/sisgroup.jpeg' %}"

 </center>



    <script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/mdb.js' %}"></script>
    

    
</body>
</html>